wheel
numpy
rouge_score
openai
gensim
peft
trl
transformers==4.31.0
accelerate
bitsandbytes
datasets
fire
huggingface_hub
tqdm
deepspeed
gradio
wandb
SentencePiece
flash-attn==2.1.1
